@import "../../styles/variables";
@import "resources/frontend/styles/mixins";
@import "resources/frontend/styles/color-pallete";


.upload_block,
.import_block {
    width: 50px;
    height: 60px;
  ///  border: 1px solid $aquaColor;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: white;
    position: relative;
    color: $aquaColor;



    & > label {
        transform: translateY(0);
        transition: 0.5s;
    }

    &:hover > label[for="uploadFile"] {
        transition: 0.5s;
        transform: translateY(-10px);
    }

    &:hover > label[for="downloadTableExcel"] {
        transition: 0.5s;
        transform: translateY(5px);
    }

    label {
        cursor: pointer;
    }

    &:hover {
        background-color: $menuColor;
        color: white;
        border-color: transparent;
    }

    .iconAbbr {
        position: absolute;
        top: -35%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        min-width: 40px;
        height: 15px;
        font-size: 10px;


        background-color: $borderColor;
        color: white;
        padding: 2px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        white-space: nowrap;
    }

    &:hover > .iconAbbr {
        opacity: 1;
        visibility: visible;
    }

    .iconClime{
        fill: $aquaColor;
    }

    &:hover > .iconClime {
        fill: white;
    }

}

.import_block:hover {
    background-color: $borderColor;
    .iconTest{
        fill: #ffff;
stroke: white;
        svg {
            fill: #ffff;

        }
    }
}

.header_input_block {
    height: 40px;
    width: 0;
    overflow: visible;
    display: flex;
    position: relative;

    input {
        border: 1px solid #ddd;
        border-radius: 5px;
        height: 100%;
        margin: 0;
        color: black !important;
        width: 100%;
        padding: 0 10px;
        outline: none;
    }
}

.header_input_block.active {
    width: 600px;
    transition: 1s;
    opacity: 1;
    visibility: visible;

    & > div {
        margin: 0 10px;
    }

    //width: 100%
}

.header_input_block.passive {
    transition: 1s;
    width: 0;
    opacity: 0;
    visibility: hidden;
}

.disabled_action {
    pointer-events: none;
    opacity: .3;
    user-select: none;
    padding: 6px;

    &:hover {
        fill: white;
    }
}

.history, .assignVendor, .info, .edit, .delete, .reRoute, .claim {
    visibility: hidden;
}

.historySpan:hover .history, .infoSpan:hover .info, .editSpan:hover .edit, .deleteSpan:hover .delete, .reRouteSpan:hover .reRoute, .claimSpan:hover .claim {
    visibility: visible;
}

.assignVendorSpan:hover .assignVendor {
    visibility: visible;
}

.iconTest{
    fill: $aquaColor;
    stroke: $aquaColor;
}



.iconVendor{
    stroke-width: 3px;
    stroke: $aquaColor;
    fill: none;
}

.import_block:hover .iconVendor{
    stroke: #ffff;
    opacity: 1;
}

.iconCar{
    fill: none;
    stroke: $aquaColor;
    stroke-width: 2px;
}

.import_block:hover .iconCar{
    stroke: #ffff;
}
