@import "../../styles/variables";
//
//.panel {
//    display: flex;
//    align-items: flex-end;
//    width: 100%;
//    height: 40px;
//    background-color: $menuColor;
//    color: white;
//}
//
//.menu {
//    height: calc(100% - 5px);
//    display: flex;
//    align-items: center;
//    padding: 0 8px;
//    margin-left: 5px;
//}
//
//.menu_active {
//    background-color: $adminBgColor;
//    color: black;
//}
//
//.block {
//    //width: calc(100% - 30px);
//    min-height: 200px;
//    border: 3px solid $menuColor;
//    border-radius: 3px;
//    margin: 20px;
//}
//
//.items {
//    padding: 5px;
//    display: grid;
//    grid-gap: 10px;
//    background-color: $whiteColor;
//    grid-template-columns: repeat(3, 1fr);
//}
//
//.item {
//    padding: 5px;
//}
//
//.showBtn {
//    user-select: none;
//    cursor: pointer;
//    border-radius: 5px;
//    width: max-content;
//    padding: 5px;
//    background-color: $menuColor;
//    color: $whiteColor;
//
//    &:hover {
//        background-color: #1a1a1a;
//        color: white;
//    }
//}
//
//.b_text {
//    font-weight: bold;
//    color: $headColor;
//}
//
//
//.image_block{
//    display: block;
//}

.block {
    width: 100%;
    height: auto;
    background-color: white;
  ///  border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;

    & * {
        //border: 1px solid black;
    }
}

.items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;

    @media screen and (max-width: 1000px) {
        padding: 20px;
    }
}

.driver {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 0.1px solid gray;
    padding-bottom: 5px;
}

.driverInfoLabel {
    width: 100%;
    height: 20%;

    & > h1 {
        margin: 0;
        padding: 0;
    }
}

.driverInfo {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 30px;
}

.driverPicture {
    width: 20%;
    height: 100%;

    @media screen and (max-width: 1200px) {
        width: 35%;
    }

    @media screen and (max-width: 1024px) {
        width: 50%;
    }

    & > .item {
        width: 100%;
        height: 100%;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left;
        }
    }
}

.driverPersonal {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.driverActions {
    width: 50%;
    height: 100%;
 ///   border: 1px solid black;
}

.documents {
    width: 100%;
    height: 50%;
    padding-top: 5px;
    border-top: 0.1px solid gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-top: 20px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 850px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.item {
    width: auto;
    height: auto;
    //padding: 5px;
    font-size: 20px;
    font-weight: 600;

    & > a {
        color: $borderColor;
    }

    @media screen and (max-width: 1000px) {
        font-size: 18px
    }
}
