@import "../../../../styles/variables";

.form {
    padding: 25px;
    box-shadow: 0 5px 25px rgba(34, 41, 97, 0.08);
    background: $formBgColor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1700px;
    margin: auto;
}

.title {
    margin-bottom: 25px;
    text-transform: uppercase;
}


.item {
    margin: 10px 10px 15px;
    position: relative;

    svg {
        width: 30px;
    }
}

.button {
    padding: 0 32px;
}

.label {
    margin-bottom: 10px;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
}

.buttonDiv {
    grid-column: 1/4;
    text-align: end;
}

