

.userData{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title{
        font-size: 22px;
    }

    .value{
        font-size: 20px;
        color: rgba(0, 0, 0, 0.61);
    }
    .role{
        font-size: 30px;
    }

}

.editInput{
    width: 90%;
    border: none;
    border-bottom: 1px solid #19347a;
    outline: none;
    padding: 10px 6px;
    background-color: rgba(0, 0, 0, 0.02);
}
