@import "../../styles/variables";

.uploadButtonWrapper {
    position: relative;
    overflow: hidden;
    //cursor: pointer;
}

.fileInput {
    display: none;
}

.upload_label {
    display: flex;
    border: 1px solid #727272;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    gap: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    padding: 0 10px;
    border-radius: 2px;

    &:hover {
        background-color: $menuColor;
        color: $whiteColor;
    }
}

.uploadFileText {
    pointer-events: none;
}

.existingImageBlock {
    width: 300px;
    margin-top: 20px;
}

.existingImage {
    width: 100%;
}

.error {
    margin-bottom: 10px;
    color: #8B0000;
}
