@import "../../styles/variables";


.inputWrapper {
    width:100%;
    height: 200px;
    position: relative;
    margin: 25px 0;
    border: 1px solid #111;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 15px;
    @media only screen and (max-width: $smallDisplay) {
        margin: 10px 0;
    }


}

.adminTextField {
    border: none;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $whiteColor;
    outline: none;
    box-sizing: content-box;
    background-color: transparent;
    font-size: 48px;
    //line-height: 56px;
    color: $whiteColor;
    padding-bottom: 10px;

    @media only screen and (max-width: $largeDisplay) {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 0;
    }

    @media only screen and (max-width: $smallDisplay) {
        height: 45px;
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 0;
    }

    &::placeholder {
        color: $whiteColor;
    }

    &:focus {
        border-bottom: 3px solid $whiteColor;
    }

    &:active {
        border-bottom: 3px solid $whiteColor;
    }
}

.input {
    border: none;
    width: 100%;
    height: 100%;
    //border-bottom: 1px solid $whiteColor;
    outline: none;
    //box-sizing: content-box;
    background-color: transparent;
    font-size: 16px;
    color: #111;
    resize: none;
    //line-height: 20px;
    //color: $whiteColor;
    //padding-bottom: 10px;

    //@media only screen and (max-width: $largeDisplay) {
    //    font-size: 30px;
    //    line-height: 35px;
    //    padding-bottom: 0;
    //}
    //
    //@media only screen and (max-width: $smallDisplay) {
    //    height: 45px;
    //    font-size: 24px;
    //    line-height: 28px;
    //    padding-bottom: 0;
    //}

    //&::placeholder {
    //    color: $whiteColor;
    //}
    //
    //&:focus {
    //    border-bottom: 3px solid $whiteColor;
    //}
    //
    //&:active {
    //    border-bottom: 3px solid $whiteColor;
    //}
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    font-size:1rem;
    color: #757575;
    cursor: text;
    transition: transform .2s ease-out, color .2s ease-out;
    transform: translateY(12px);
    transform-origin: 0 100%;
}

.active {
    @extend .label;
    transform: translateY(-12px) scale(.8);
}

.error {
    position: absolute;
    top: -23px;
    font-size: 12px;
    color: crimson;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

