$themes: (
    light: (
        backgroundColor: #FBFBFB,
        backgroundImage: 'forest-light.png',
        cardBackDrop: rgba(103, 101, 101, 0.07),
        titleColor:#4D4D4D,
        footerItem: #C4C4C4,
        textColor: #8F8F8F,
        iconColor: #C4C4C4,
        navbarColor: #ffffff,
        navShadow: 0 2px 7px rgba(162, 162, 162, 0.25),
        servicesPagination:rgba(196, 196, 196, 0.4),
        traditionalBackDrop: rgba(255, 255, 255, 0.25),
        partnersBackDropColor: rgba(255, 255, 255, 0.15),
        partnersBackDropSize: blur(5px),
        backdropSearchColor:rgba(0, 0, 0, 0.25),
        backdropSearchSize: blur(18px),
        modalBgColor:#faf9f8,
        modalIconColor:#D0D0D0,
        modalTitleColor: #4D4D4D,
        modalTextColor: #4D4D4D,
        modalInputBgColor:#FFFFFF,
        inputShowIconColor:#999999,
        inputBorderColor:#BDBFC1,
        termsTextColor:#999999,
        carouselNextBtnBgColor:rgba(0, 0, 0, 0.25),
        carouselNextArrowBgColor: #ffffff,
        carouselPrevBtnBgColor: #ffffff,
        tradionsCardBgColor:#FFFFFF,
        tradionsCardTextColor:#8F8F8F,
        tradionsCardIconColor:#C4C4C4,
        starsColor: #EDCC1D,
        greenColor:#0B716B,
        authSelectMobileColor:#E4E4E4,
    ),
    dark: (
        backgroundColor: #121212,
        backgroundImage: 'forest-dark.png',
        cardBackDrop: rgba(0, 0, 0, 0.3),
        titleColor: #FFFFFF,
        footerItem: #4D4D4D,
        textColor: #E5E5E5,
        iconColor: #4D4D4D,
        navbarColor:#121212,
        navShadow: inset 0 -2px 0 rgba(255, 255, 255, 0.31),
        servicesPagination: rgba(229, 229, 229, 0.4),
        traditionalBackDrop: rgba(0, 0, 0, 0.58),
        partnersBackDropColor: rgba(0, 0, 0, 0.35),
        partnersBackDropSize: blur(5px),
        backdropSearchColor:rgba(0, 0, 0, 0.7),
        backdropSearchSize: blur(13px),
        modalBgColor:#161718,
        modalIconColor:#3A3B3C,
        modalTitleColor: #E4E6EB,
        modalTextColor: #B0B3B8,
        modalInputBgColor:#242526,
        inputShowIconColor:#3A3B3C,
        inputBorderColor:#2F3031,
        termsTextColor:#B0B3B8,
        carouselNextBtnBgColor:rgba(143, 143, 143, 0.26),
        carouselNextArrowBgColor:#121212,
        carouselPrevBtnBgColor:rgba(143, 143, 143, 0.26),
        tradionsCardBgColor:#8F8F8F,
        tradionsCardTextColor:#C4C4C4,
        tradionsCardIconColor:#C4C4C4,
        starsColor: #f4be2f,
        greenColor:#0B716B,
        authSelectMobileColor:#757575,
    ))
