//$fontRegular: ArTarumianKamar-Regular;
$fontRegular: tahoma;
$fontColor: #707980;
$whiteColor: #F7F7F7;
$greenColor: #0B716B;
$whiteGreenColor: #0B716B;
$asteriskColor: #D63D3D;
$myAccountNavbarBorder: #F0F3F5;

$extraExtraLargeDisplay: 1921px;
$extraLargeDisplay: 1600px;
$midlLargeDisplay: 1440px;
$largeDisplay: 1200px;
$mediumDisplay: 992px;
$smallDisplay: 768px;
$extraSmallDisplay: 479px;
$extraExtraSmallDisplay: 375px;

//Admin
//$grayColor: #336983;
//$grayColor: #678983;
$grayColor: #637469;
$borderColor: #19347a;
$aquaColor: #3F7AAD;
$placeholderColor: #757575;
$adminBoxShadow: 2px 2px 14px rgba(87, 87, 102, 0.25);
$drawerBgColor: #ffffff;
$adminBgColor: #f6f7fb;
$formBgColor: #ffffff;
$headColor: #393E46;
//$menuColor: #6D9886;
$menuColor: #D63D3D;
$menuHoverColor: #D63D3D;
$errorColor: #DC143C; // crimson
//$iconColor: #6D9886;
$iconColor: #4466b0;
$backgroundColor:rgb(228 235 243);
//
$buttonBoxShadow: 2px 2px 3px rgba(127, 156, 172, 0.25);
$filterBgActiveColor: #E8E8E8;
$filterBgColor: #F8F8F8;
$filterTextColor: #707070;
$thTextColor: #332e2e;
$myGray: #2e2e2e;
$thBgColor: #F0F5F9;
$tdBgColor: #ffffff;

$disabledColor: #999999;
$boxShadowColor: rgba(0, 0, 0, .3);
$checkbox: '✔';

$greyColor: #F2E7D5;
$borderRadius: 15px;

@mixin error() {
    position: absolute;
    top: 105%;
    left: 1%;
    color: $errorColor;
    font-size: 12px;
}

@mixin errorPlaceholder() {
    &::placeholder {
        color: $errorColor;
    }
}

@mixin errorColor() {
    color: $errorColor;
}
