//$fontRegular: ArTarumianKamar-Regular;
$fontRegular: TAHOMA;
$fontColor: #707980;
$whiteColor: #F7F7F7;
$greenColor: #0B716B;
$whiteGreenColor: #0B716B;
$asteriskColor: #D63D3D;
$myAccountNavbarBorder: #F0F3F5;

$extraExtraLargeDisplay: 1921px;
$extraLargeDisplay: 1600px;
$midlLargeDisplay: 1440px;
$largeDisplay: 1200px;
$mediumDisplay: 992px;
$smallDisplay: 768px;
$extraSmallDisplay: 479px;
$extraExtraSmallDisplay: 375px;

//Admin
//$grayColor: #336983;
//$grayColor: #678983;
$grayColor: #637469;
$borderColor: rgba(127, 156, 172, 0.25);
$adminBoxShadow: 2px 2px 14px rgba(87, 87, 102, 0.25);
$drawerBgColor: #ffffff;
$adminBgColor: #f6f7fb;
$formBgColor: #ffffff;
$headColor: #393E46;
//$menuColor: #6D9886;
$menuColor: #4466b0;
$menuHoverColor: #254481;
//$iconColor: #6D9886;
$iconColor: #4466b0;
//
$buttonBoxShadow: 2px 2px 3px rgba(127, 156, 172, 0.25);
$filterBgActiveColor: #E8E8E8;
$filterBgColor: #F8F8F8;
$filterTextColor: #707070;
$thTextColor: #2C2C2C;
$thBgColor: #F0F5F9;
$tdBgColor: #ffffff;

$disabledColor: #999999;
$boxShadowColor: rgba(0, 0, 0, .3);
$checkbox: '✔';

$greyColor: #F2E7D5;
$borderRadius: 15px;
