@import "~normalize.css/normalize.css";
@import "styles/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontRegular;
    font-weight: bold;
  
}
body{
    background-color: $whiteColor;
}

@font-face {
    font-family: 'ArTarumianKamar-Regular';
    src: local('ArTarumianKamar-Regular'), url('font/ArTarumianKamar-Regular.woff') format('woff');
}

body {
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}
// .css-1rhbuit-multiValue{
//     height: 50px;
// }
//path{
//    fill: $iconColor!important;
//}
