@import "../../styles/variables";

.input {
    height: 50px !important;
    width: 100%;
    position: relative;
    z-index: 99999;

    & > div {
        //z-index: 999999;
    }
}
.container{
    width:100%
}
.row{
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.timePickerContainer {
    width: 100%;
}
