@import "../../styles/variables";

//.input {
//    height: 50px !important;
//    width: 100%;
//    position: relative;
//
//    & > div {
//        //z-index: 999999;
//    }
//}
//.container{
//    width:100%;
//    height: 100%;
//    display: flex;
//    flex-direction: column;
//    justify-content: flex-start;
//    align-items: flex-start;
//}
//
//.inputs {
//    width: 100%;
//    height: 100%;
//    display: grid;
//    grid-template-columns: repeat(2, 1fr);
//}
//
//.row{
//    display: flex;
//    width: 100%;
//    align-items: flex-end;
//}
//
//.timePickerContainer {
//    width: 100%;
//}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 25px;
}

.inputs {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
    padding: 15px;
    border: 0.1px solid $borderColor;
}

.autocompleteWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.autocompleteLabel {
    width: 100%;
    height: auto;

    & > span {
        color: $borderColor;
    }
}

.autocomplete {
    width: 100%;
    height: 100%;

}

.input {
    width: 100%;
}

.autocompleteName {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
        color: $grayColor;
        margin: auto;
    }
}

.deleteIcon {
    width: 20px;
    height: 20px;

    & > button {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.phoneInput > input {
    border-bottom: 1px solid $borderColor;
}

.phoneInput > label {
    left: 2%;
}

.timePickerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}


.timePicker {
    width: 100%;

}

.timePickerRow{
    flex-direction: row;

}

.timePickerWrapper {
    position: relative;
    //left: 50px;
}

.timePickerWrapper > input {
    border-color: $placeholderColor;
}

.button {
    width: 200px;
    height: 50px;
    background-color: $asteriskColor;
    border-radius: 30px;
    color: white;
    font-size: 16px;
}
