@import "../../styles/variables";

.passwordWrapper {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    //border: 1px solid red;
    & * {
        //border: 1px solid black;
    }
}

.passwordInputWrapper {
    width: 60%;
    height: 100%;
    //border: 1px solid red;
}

.showPasswordWrapper {
    width: 40%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    //border: 1px solid red;
    position: relative;

    & > input {
        width: 30px;
        height: 30px;

        &:checked {
           background-image: url("../../images/visibility.svg");
        }
    }
}

.showPasswordWrapper{
    input{
        -webkit-appearance: none;
        position: absolute;
    }
}

.checkbox {
    position: relative;
    top: -40px;
    width: 20px;
    height: 20px;
    //background-color: red;
    background-image: url("../../images/visibility_off.svg");
    background-size: cover;
}


.showPasswordWrapper input:checked ~ .checkbox {
    display: block;
}
