@import "../../styles/variables";

.container {
    padding: 0 100px;

    @media only screen and (max-width: $mediumDisplay) {
        padding: 0 50px;
    }

    @media only screen and (max-width: $smallDisplay) {
        padding: 0 15px;
    }
}
