@import "../../../../styles/variables";

.form {
    padding: 25px;
    box-shadow: 0 5px 25px rgba(34, 41, 97, 0.08);
    background: $formBgColor;
    display: grid;
    align-items: end;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    //border: 1px solid red;
}

.statusForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
}

.glob{
    padding: 30px;
}

.title {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.itemsWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    //border: 1px solid red;
    gap: 60px;
}

.item {
    //margin-bottom: 15px;
    //width: 30%;
    width: 80%;
    //display: flex;
    //flex-direction: column;
    //margin: 10px 10px 15px;
    position: relative;
    align-items: center;
    //border: 1px solid red;

    svg {
        width: 20px;
    }
}

.button {
    padding: 0 32px;
}


.actionButtons {
    display: flex;
    justify-content: space-between;
}

.buttonDiv {
    @media only screen and (max-width: 1250px) {
        width: 100%;

        & > button {
            width: 200px;
            margin: 10px 10px 15px;
        }
    }
    width: 100%;
    grid-column: 1/4;
    justify-content: flex-end;
    display: flex;
    margin-top: 50px;
    //border: 1px solid red;
}

.googleMap {
    position: relative;
    margin-top: 20px;
    aspect-ratio: 2/1;
    overflow: visible;

    & > div:first-child {

    }
}


@media only screen and (max-width: 1250px) {
    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }

    .item {
        width: 100%;
        align-items: center;
    }
}
