@import "../../styles/variables";

.image img{
    max-width: 100%;
    min-width: 100%;
    max-height: 250px;
    min-height: 250px;
}
.carItem{
    max-width: 100%;
    min-width: 100%;
    float: left;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
.title{
   max-height: 30px;
}
.swiperCarouselItem {
    cursor: pointer;
    position: relative;

    .backdrop {
        max-width: 100%;
        min-width: 100%;
        max-height: 250px;
        min-height: 250px;
        backdrop-filter: blur(5px);
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        opacity: 0;
        flex-direction: column;

        h5 {
            color: $whiteColor;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: normal;
            text-align: center;
            @media only screen and (max-width: $mediumDisplay) {
                font-size: 16px;
                line-height: 19px;
            }
            @media only screen and (max-width: $smallDisplay) {
                font-size: 8px;
                line-height: 12px;
            }
        }

        .backdropBtnWrapper {


            .backdropBtn {
                margin-top: 30px;
                border: 1px solid $whiteColor;
                padding: 12px;
                color: $whiteColor;
                background-color: transparent;
                text-transform: uppercase;
                width: 100%;
                font-size: 14px;
                @media only screen and (max-width: $mediumDisplay) {
                    margin-top: 20px;
                    font-size: 12px;
                    line-height: 14px;
                }
                @media only screen and (max-width: $smallDisplay) {
                    margin-top: 10px;
                    font-size: 8px;
                    line-height: 9px;
                    padding: 7px;
                }
            }
        }

    }

    .backDropActive {
        @extend .backdrop;
        opacity: 1;
    }

    @media (pointer: fine) {
        &:hover {
            .backdrop {
                opacity: 1;
            }
        }
    }
}
.cardIcon{
    width: 20px;
    height: 20px;
}
.list{
    padding: 5px;
    list-style: none;
    text-align: left;
    color: white;
    font-size: 16px;
}
