@import "../../styles/variables";

//TODO: remove styles after design is complete

.userInitials {
  min-width: 50px;
  height: 50px;
  color: $whiteColor;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid;
  cursor: pointer;
  @media only screen and (max-width: $smallDisplay) {
    min-width: 35px;
    height: 35px;
  }
}

// ^


.icons {
  display: flex;
  align-items: center;
   /// justify-content:space-between;
}

.user {
  position: relative;

  .items {
    position: absolute;
    top: 50px;
    right: 0;

    @media only screen and (max-width: $smallDisplay) {
      top: 40px;

      & > :first-child {
        margin-bottom: 20px;
      }
    }



    p {
      cursor: pointer;
      color: $whiteColor;
      font-size: 18px;
      line-height: 30px;
      text-align: right;

      @media only screen and (max-width: $smallDisplay) {
        font-size: 12px;
        line-height: 0;
      }
    }
  }
}

.userActive {
  border-bottom: 1.5px solid $whiteColor;
  padding-bottom: 5px;
}

.languagePicker {
  position: relative;
}

.languagePickerActive {
  border-bottom: 1.5px solid $whiteColor;
  padding-bottom: 5px;
}


.userIcon {
  color: $whiteColor;
  font-size: 30px;
  cursor: pointer;
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 26px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 20px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $extraSmallDisplay) {
    margin-left: 5px;
  }
}

.search {
  font-size: 28px;
  cursor: pointer;
  margin-left: 20px;
  color: $whiteColor;
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 24px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 19px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $extraSmallDisplay) {
    margin-left: 5px;
  }
}

.weather {
  color: $whiteColor;
  font-size: 32px;
  cursor: pointer;
  margin-left: 20px;
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 26px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 20px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $extraSmallDisplay) {
    margin-left: 5px;
  }
}

.language {
  color: $whiteColor;
  font-size: 28px;
  cursor: pointer;
  margin-left: 20px;
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 24px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 19px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $extraSmallDisplay) {
    margin-left: 5px;
  }
}

.sun {
  color: $whiteColor;
  font-size: 28px;
  cursor: pointer;
  margin-left: 20px;
  transition: .500ms ease-in-out;
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 24px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 19px;
    margin-left: 10px;
  }
  @media only screen and (max-width: $extraSmallDisplay) {
    margin-left: 5px;
  }
}


