@import "../../../styles/variables";

.trPagination {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    margin: 0 5px;
    border-radius: 25px;
    background-color: white;

    div button {
        color: $greenColor;
    }
}

.active {
    background-color: $grayColor;

    div button {
        color: white;
    }
}
