@import "../../styles/variables";


.wrapperWeather {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 190px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.cancelIconWrapper {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 20;

  .cancelIcon {
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
  }
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;


  & > :nth-child(2) {
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;

    @media only screen and (max-width: $mediumDisplay) {
      border-left: 1px solid #FFFFFF;
      border-right: 1px solid #FFFFFF;
    }
  }
}

.weatherDay {
  padding: 0 60px;

  @media only screen and (max-width: $mediumDisplay) {
    padding: 0 30px;
  }

  @media only screen and (max-width: $smallDisplay) {
    padding: 0 15px;
  }
}

.weekDayIcon {

  text-align: center;

  svg {
    width: 45px;
    height: 35px;

    @media only screen and (max-width: $mediumDisplay) {
      width: 33px;
      height: 30px;
    }

    @media only screen and (max-width: $smallDisplay) {
      width: 28px;
      height: 25px;
    }
  }
}


.temperature {
  text-align: center;
  margin-top: 10px;

  p {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    @media only screen and (max-width: $mediumDisplay) {
      font-size: 14px;
      line-height: 19px;
    }

    @media only screen and (max-width: $smallDisplay) {
      font-size: 12px;
      line-height: 17px
    }
  }
}

.weekDay {
  text-align: center;
  margin-bottom: 20px;

  strong {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    @media only screen and (max-width: $mediumDisplay) {
      font-size: 14px;
      line-height: 16px;
    }

    @media only screen and (max-width: $smallDisplay) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

// Loader CSS

.ldsEllipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.ldsEllipsis div {
  position: absolute;
  top: 33px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis div:nth-child(1) {
  left: 8px;
  animation: ldsEllipsis1 0.6s infinite;
}

.ldsEllipsis div:nth-child(2) {
  left: 8px;
  animation: ldsEllipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(3) {
  left: 32px;
  animation: ldsEllipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(4) {
  left: 56px;
  animation: ldsEllipsis3 0.6s infinite;
}

@keyframes ldsEllipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ldsEllipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes ldsEllipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
