@import "../../../styles/variables";

.example {
    padding: 25px;
}

.root_wrapper {
    //border: 1px solid red;
    display: flex;
}

.root {
    border: 1px solid $adminBgColor;
    //padding: 110px 15px 30px;
    background: $adminBgColor;
    min-height: calc(100vh - 300px);
}

.navigation {
    width: 100%;
    background-color: $whiteColor;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 150;
}
