@import "../../styles/variables";

.time {
    width: 100%;
    //border: none;


    & span {
        font-size: 40px;
        display: inline-block;
        height: auto !important;
        transform: translateY(5%);
        font-family: roboto;

        &:nth-child(2) {
            display: none;
        }
    }

    input, select {
        width: 100px !important;
        height: 50px;
        padding: 5px;
        text-align:center;
        font-size: 20px;
        border-radius: 5px;
        border: 1px solid $placeholderColor;

        //border-color: $borderColor;
    }

    input:focus {
        border-color: $borderColor;
    }

    select{
        width: 85px !important;
    }
}

.timeValid {
    input {
        border-color: $borderColor;
    }
}

.label {

}
