@import "../../styles/variables";

.time {
    width: 100%;
    border: none;

    input, select {
        width: 50px !important;
        height: 40px;
        font-size:20px;
       /// padding: 5px
        text-align:center;
    }
    select{
        width: 85px !important;
    }
}
