@import "../../styles/variables";

.header_nav {
    background-color: #181D31;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.side_icon {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(-290%, -50%);
}

.main {
    display: flex;
}

.side_panel {
    width: 50px;
    //height: 100%;
    background-color: $grayColor
}

.list {
    //height: 100%;
    border-right: 1px solid #ddd;
}

.content_part {
    display: flex;
    min-height: calc(100vh - 50px);
}

.iconBlock {
    position: relative;
    margin-right: 30px;

    button {
        display: block;
    }
}

.item {
    list-style-type: none;
}

.icon_item {
    display: flex;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.languagePicker {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 50px;

    @media only screen and (max-width: $mediumDisplay) {
        left: 10px;
        top: 40px;
    }

    @media only screen and (max-width: $smallDisplay) {
        left: 5px;
        top: 35px;
    }
}

.languagePickerItem {
    font-family: $fontRegular;
    font-size: 18px;
    text-transform: uppercase;
    color: $whiteColor;
    margin-bottom: 15px;

    &:hover {
        border-bottom: 0.2px solid $whiteColor;
    }

    @media only screen and (max-width: $mediumDisplay) {
        margin-bottom: 10px;
        font-size: 17px;
    }

    @media only screen and (max-width: $smallDisplay) {
        margin-bottom: 8px;
        font-size: 11px;
    }
}

.category {
    display: block;
    color: #fcfcfc;
    padding: 5px 0px 5px 25px;
    border: 1px solid;
    font-size: 20px;
}

.link {
    padding: 20px 12px;
    border: 1px solid #ccc;
    min-width: 200px;
    //overflow: hidden;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
    white-space: nowrap;
    color: $thTextColor;
    font-size: 20px;
    margin: 20px;
}

.closeIcon {
    position: absolute;
    top: 10px;
    left: 190px;
    width: 30px;
    margin-left: 50px;
    transition: 0.5s;
    z-index: 9000;
}

.openIcon {
    width: 50px;
    position: absolute;
    top: 10px;
    padding: 0 11px;
    z-index: 9000;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.listIcon {
    position: absolute;
    width: 70px;
    padding: 6px 16px;
}


.home {
    display: block;
    width: 200px;
    color: white;
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    font-weight: bolder;
    letter-spacing: 15px;
}


.end {
    justify-content: flex-end;
}

.logo {

    padding: 0;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 15px;
    font-style: inherit;
    font-family: TAHOMA;
}
