@import "../../styles/variables";
.bage_count {
    padding: 3px 6px 3px 6px;
    font-size: 20px;
    border-radius: 10px;
    display: block;
    text-align: center;

}
.table_upper_tab_item {
    background: #ffffff;
    border-bottom: 1px solid rgba(162, 162, 162, 0.2);
    position: relative;
    padding: 10px 30px;
    cursor: pointer;
    &:hover {
        span{
            color: $asteriskColor;
        }
        color: $asteriskColor;
        border-bottom-color: $asteriskColor;
    }
}
.tab_text{
    font-size: 13px;
}
.table_upper_tab {
     display: flex;
     align-items: center;
     gap: 10px;
     width: 100%;
 }
.action_block {
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: $menuColor;
    color: $whiteColor;
    label {
        cursor: pointer;
    }
    &:hover {
        background-color: $asteriskColor;
        color: white;
    }
}

.disabled_action {
    pointer-events: none;
    opacity: .3;
    user-select: none;
}
