@import "../../../styles/variables";
@import "resources/frontend/styles/mixins";
@import "resources/frontend/styles/color-pallete";

.contentDiv {
    width: 75%;
    float: left;
}

.head {
    display: flex;
    justify-content: space-between;

    .phoneLink {
        font-family: $fontRegular;
        color: $whiteColor;
        font-size: 20px;
        text-decoration: none;
    }

}

.seeAll{
    color:black;
    background-color: transparent;
    border: 1px solid;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 15px;
    text-transform: capitalize;
}

.headerNew{
    color: $greenColor;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detector {
    width: 1px;
    height: 1px;
}


