@import "../../styles/variables";
@import "resources/frontend/styles/mixins";
@import "resources/frontend/styles/color-pallete";


.select {
    margin-top: 10px;
    border: none;

    & div {
        box-shadow: none;
    }

    & div:hover {
        border-color: black;
    }

    & svg {
        width: 25px !important;
        height: 25px !important;
        color: $borderColor !important;
    }
}

.react-select-container {
    background-color: black;
}

.e-multiselect.e-input-group .e-multi-select-wrapper {
    background-color: red;
}

.sortSelect {
    //border: 1px solid blue;
    padding: 15px;
}

//.label {
//    font-size: 15px;
//    @include themify($themes) {
//        color: themed('modalTitleColor');
//    }
//    font-weight: normal;
//    margin-bottom: 10px;
//
//    @media only screen and (max-width: $smallDisplay) {
//        font-size: 12px;
//    }
//
//    span {
//        color: $asteriskColor;
//    }
//}

.customMenuList {
    list-style: none;

    li {
        margin-bottom: 10px;
    }
}

.addBtn {
    text-align: center;
    font-size: 16px;
    color: #1d1c1c;
    font-weight: bold;
}

.buttonsSelect {
    display: none;
    justify-content: space-between;
}

.selectButton {
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
    color: $whiteColor;

    //&:not(.blank,.round){
    //    box-shadow: $buttonBoxShadow;
    //}

    &:focus {
        outline: none;
        box-shadow: none
    }
}
