@import "../../styles/variables";

.root {
    height: 100%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
}


.languagePicker {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 50px;

    @media only screen and (max-width: $mediumDisplay) {
        left: 10px;
        top: 40px;
    }

    @media only screen and (max-width: $smallDisplay) {
        left: 5px;
        top: 35px;
    }
}

.languagePickerItem {
    font-family: $fontRegular;
    font-size: 18px;
    text-transform: uppercase;
    color: $whiteColor;
    margin-bottom: 15px;

    &:hover {
        border-bottom: 0.2px solid $whiteColor;
    }

    @media only screen and (max-width: $mediumDisplay) {
        margin-bottom: 10px;
        font-size: 17px;
    }

    @media only screen and (max-width: $smallDisplay) {
        margin-bottom: 8px;
        font-size: 11px;
    }
}

.category {
    display: block;
    color: #fcfcfc;
    padding: 5px 0px 5px 25px;
    border: 1px solid;
    font-size: 20px;
}

.link {
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    //color: $thTextColor;
    color: $headColor;
    font-size: 20px;
}

.closeIcon {
    position: absolute;
    top: 10px;
    left: 190px;
    width: 30px;
    margin-left: 50px;
    transition: 0.5s;
    z-index: 9000;
}

.openIcon {
    width: 50px;
    position: absolute;
    top: 10px;
    padding: 0 11px;
    z-index: 9000;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.listIcon {
    position: absolute;
    width: 70px;
    padding: 6px 16px;
}


//.headerNav {
//    width: 100%;
//    padding: 23px 40px;
//    color: #fff;
//    background-color:#ADA2FF;
//    z-index: 999;
//    height: 50px;
//}

.header_nav {
    background-color: $headColor;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 111111;
    box-shadow: 0 0 4px $headColor;
}

.navWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_icons_block {
    display: flex;
    align-items: center;
}

//.header_input_block {
//    height: 30px;
//    width: 0;
//    overflow: hidden;
//
//    input {
//        border: 1px solid #ddd;
//        border-radius: 5px;
//        height: 100%;
//        margin: 0;
//        color: black !important;
//    }
//}
//
//.header_input_block.active {
//    min-width: 500px;
//    width: 100%
//}
//
//.header_input_block.passive {
//    width: 0;
//}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.home {
    display: block;
    width: 200px;
    color: white;
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    font-weight: bolder;
    letter-spacing: 15px;
}

.iconBlock {
    & + & {
        margin-left: 20px;
    }
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.end {
    justify-content: flex-end;
}

.logo {

    padding: 0;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 15px;
    font-style: inherit;
    font-family: TAHOMA;
}

.list {

    width: 40px;
    float: left;

}

.content_part {
    width: 100%;
}
