@import "../../../styles/variables";

.root {
  position: relative;
  height: calc(100vh - 200px);
}

.block {
  margin: auto;
  width: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
}

.text {
  color: $greenColor;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}
